.logo {
  // height: 6vh;
  padding: 2rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;

  &_icon {
    height: auto;
    width: auto;
  }

  @media (min-width: 1200px) {
    .logo_ul {
      display: none;
    }
  }

  @media (max-width: 1200px) {
    .logo_ul {
      ul {
        display: flex;
      }
      li {
        list-style: none;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 3rem;
        margin-left: 2rem;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
      }

      li:hover {
        color: rgb(141, 138, 138);
        text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
      }
    }
    // .logo_icon {
    //   height: 8rem;
    //   width: 12rem;
    // }

    .logo_link {
      text-decoration: none;
      color: black;
    }
  }

  @media (max-width: 768px) {
    .logo_ul {
      li {
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .logo {
  }
}
