.navbar {
  width: 25%;
  min-height: 84.4vh;
  display: flex;
  justify-content: center;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);

  ul {
    margin-top: 5rem;
  }

  li {
    list-style: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  }

  li:hover {
    color: rgb(141, 138, 138);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  }

  &_link {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
